.settings
.project
.classpath

.idea
.idea_modules

target

/frontend-editor/dist
/frontend-site/dist

data/uploads/*
!data/uploads/.gitkeep

/app/data/logs/*
/app/backend.jar
/app/site/*
!/app/site/.gitkeep
/app/editor/*
!/app/editor/.gitkeep

