
@import "~bootstrap/scss/bootstrap";
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/neat.css";
@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import "~react-tagsinput/react-tagsinput.css";

.btn-toolbar>*+* {
  margin-left: .5em;
}

.gallery-edit {
  .images {
    .image {
      float: left;
      position: relative;

      img {
        max-width: 250px;
        max-height: 250px;
        height: auto;
      }

      .image-overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: #ffffff;

        .delete-image {
          padding: 2px;
        }

        .delete-image:hover {
          cursor: pointer;
        }
      }
    }
  }

}

.items-list {
  .btn-toolbar {
    margin: 5px 0;
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input#inputUsername {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.toast-container {
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 100;
}

.react-tagsinput {
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 22px;
  cursor: text;
}

.react-tagsinput-tag {
  background-color: #5bc0de;
  border-radius: 2px;
  border: none;
  color: #ffffff;
}
