
@import "~bootstrap/scss/bootstrap";

.btn-toolbar>*+* {
  margin-left: .5em;
}

.gallery-edit {
  .images {
    img {
      float: left;
      max-width: 250px;
      max-height: 250px;
      height: auto;
    }
  }

}

.items-list {
  .btn-toolbar {
    margin: 5px 0;
  }
}