h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.gallery-edit {
  .images {
    img {
      float: left;
      max-width: 250px;
      max-height: 250px;
      height: auto;
    }
  }

}